# Created by https://www.toptal.com/developers/gitignore/api/react,visualstudiocode,webstorm
# Edit at https://www.toptal.com/developers/gitignore?templates=react,visualstudiocode,webstorm

### react ###
.DS_*
*.log
logs

/build
node_modules
package-lock.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

.idea/*
.idea/modules.xml
.idea/*.xml
.idea/*.iml
.idea/modules
*.iml
